.form{
    display: flex;
    flex-direction: column;
}
.input{
    display: block;
    width: 90%;
    height: 50px;
    padding: 5px;
    border: 2px solid gray ;
    margin: 10px 0;
}
.btn{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 150px;
    padding: 10px;
    background-color: rgb(185, 185, 185);
}