.nav{
    display: flex;
}
.link {
  display: inline-block;
  text-decoration: none;
  padding: 12px;
  font-weight: 700;
  color: rgb(8, 8, 8);
  font-size: 22px;
}
.activeLink {
  display: inline-block;
  text-decoration: none;
  padding: 12px;
  font-weight: 700;
  font-size: 22px;
  color: #37a715;

}