.post {
    margin-bottom: 15px;
    padding: 10px;
    justify-content: space-between;
    border: 2px solid greenyellow;
    max-width: 500px;
    height: 100%;
    max-height: 290px;
    transition: all 0.3s ease 0s;
}
.postFull {
    margin-bottom: 15px;
    padding: 10px;
    justify-content: space-between;
    border: 2px solid greenyellow;
    max-width: 500px;
    height: 100%;
    transition: all 0.3s ease 0s;
}
.post:hover {
    background-color:rgb(152, 230, 152) ;
    border: 2px solid rgb(93, 155, 2);
}
.title{
    font-size: 20px;

}
.text{
    overflow: hidden;
    max-height: 150px;
    font-size: 16px;
    padding: 10px;
    margin-bottom: 15px;
}
.textFull{
    overflow: hidden;
    font-size: 16px;
    padding: 10px;
    margin-bottom: 15px;
}
.post:last-child {
    margin-bottom: 0px;
}

.delete {
    margin: 0px 0 0 10px;
    transition: all 0.3s ease 0s;
}

.delete:hover {
    background-color: rgb(235, 121, 121);
}