.form{
    display: flex;
    flex-direction: column;
}
.label{
    display: flex;
    flex-direction: column;
    margin: 10px 0;
}
.title{
    border: 2px solid gray;
    padding: 5px;
    width: 95%;
}
.text{
    width: 95%;
    display: flex;
    border: 2px solid gray;
    padding: 5px;
    resize: none;
    height: 120px;
}
.button{
    padding: 8px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}
.button:hover{
    background-color: rgb(151, 228, 35);
}